servicio_web/WindowsFormsApp1/Connected Services/EntendiLaReferencia/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servicio_web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servicio_web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Distribuidor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:R">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Entrega" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Distribuidor" nillable="true" type="tns:Distribuidor" />
  <xs:complexType name="R">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R" nillable="true" type="tns:R" />
  <xs:complexType name="Alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:R">
        <xs:sequence>
          <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Calificacion" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num_Control" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Inventario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:R">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nom_Producto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Inventario" nillable="true" type="tns:Inventario" />
</xs:schema>