servicio_web/WindowsFormsApp1/Connected Services/EntendiLaReferencia/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49939/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servicio_web" />
  <xs:element name="GetDistribuidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistribuidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/servicio_web" minOccurs="0" name="GetDistribuidorResult" nillable="true" type="q1:Distribuidor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/servicio_web" minOccurs="0" name="GetAlumnoResult" nillable="true" type="q2:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Clave" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/servicio_web" minOccurs="0" name="GetInventarioResult" nillable="true" type="q3:Inventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>